h2 {
	text-align: center;
	color: #2d0072;
	font-size: 3em;
}

button {
	border-color: red;
	margin: 5% 45% 5% 45%;
}

#quoteDisplay {
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	padding: 25px;
	color: #2d0072;
	background-color: #b7d2ff;
	border-style: solid black;
	border-radius: 20px;
	font-size: 2em;
}

body {
	background-color: #cff;
}
.twitter-share-button {
	margin-left: 46%;
}